@import "./variables";

.entry-form {
  margin-top: 3rem;
  height: 33.224rem;
  display: flex;
  flex-direction: column;
  position: relative;

  &__label {
    display: block;
    font-size: $header-font;
    margin-bottom: 0.5rem;
  }

  &__input {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    border: 1px solid white;
    font-size: $normal-font;
    border-radius: 4px;
    height: 2.5rem;
    padding-left: 0.8rem;
    margin-bottom: 1rem;
    background-color: $dark-bg;
    color: white;

    &:focus {
      border: 2px solid white;
      outline: none;
    }
  }

  &__textarea {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    border: 1px solid white;
    font-size: $normal-font;
    border-radius: 4px;
    height: 21rem;
    padding: 0.8rem;
    margin-bottom: 1rem;
    background-color: $dark-bg;
    color: white;
    resize: none;

    &:focus {
      border: 2px solid white;
      outline: none;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: -4rem;
    right: 0;
  }

  &__button-wrapper-context {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -4rem;
    width: 100%;
  }

  &__next-btn {
    margin-top: 1rem;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    border: 1px solid white;
    color: white;
    background-color: $dark-bg;
    border-radius: 5px;
    height: 3rem;
    width: 6rem;
    font-size: $normal-font;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__next-arrow {
    font-size: 2rem;
    padding-bottom: 0.3rem;
    margin-left: 0.5rem;
  }

  &__back-btn {
    margin-top: 1rem;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    border: 1px solid white;
    color: white;
    background-color: $dark-bg;
    border-radius: 5px;
    height: 3rem;
    width: 6rem;
    font-size: $normal-font;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
  }

  &__back-arrow {
    font-size: 2rem;
    padding-bottom: 0.3rem;
    margin-right: 0.5rem;
  }
}
