@import "./variables";

.entry-form {
  margin-top: 2rem;
  height: 33.224rem;
  display: flex;
  flex-direction: column;
  position: relative;

  &__link {
    text-decoration: none;
  }

  &__label {
    display: inline-block;
    font-size: $header-font;
    margin-bottom: 0.5rem;
    font-weight: 300;
  }

  &__input {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    border: 1px solid white;
    font-size: $normal-font;
    border-radius: 4px;
    height: 2.5rem;
    padding-left: 0.8rem;
    margin-bottom: 1rem;
    background-color: $dark-bg;
    color: white;

    &:focus {
      border: 2px solid white;
      outline: none;
    }

    &::placeholder {
      font-style: italic;
      color: gray;
    }
  }

  &__text {
    font-size: 1rem;
    color: white;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-style: italic;
  }

  &__textarea {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    border: 1px solid white;
    font-size: $normal-font;
    border-radius: 4px;
    height: 19rem;
    padding: 0.8rem;
    margin-bottom: 1rem;
    background-color: $dark-bg;
    color: white;
    resize: none;

    &:focus {
      border: 2px solid white;
      outline: none;
    }
    &::placeholder {
      font-style: italic;
      color: gray;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -1rem;
    right: 0;
    width: 100%;
  }

  &__button-wrapper-context {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -1rem;
    width: 100%;
  }

  &__mood-wrapper {
    background-color: $dark-bg;
    height: 15.26rem;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__mood-buttons-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__mood-button-unpressed {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-size: $normal-font;
    color: white;
    width: 7rem;
    height: 2rem;
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    padding-bottom: 0.25rem;
    margin: 0.7rem;
    outline: none;
    cursor: pointer;
  }

  &__mood-button-pressed {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: $normal-font;
    color: black;
    width: 7rem;
    height: 2rem;
    border: 1px solid white;
    border-radius: 4px;
    background-color: white;
    padding-bottom: 0.25rem;
    margin: 0.7rem;
    outline: none;
    cursor: pointer;
  }

  &__next-btn {
    margin-top: 1rem;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    border: 1px solid white;
    color: white;
    background-color: $dark-bg;
    border-radius: 5px;
    height: 3rem;
    width: 6rem;
    font-size: $normal-font;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__next-arrow {
    font-size: 2rem;
    padding-bottom: 0.3rem;
    margin-left: 0.5rem;
  }

  &__back-btn {
    margin-top: 1rem;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    border: 1px solid white;
    color: white;
    background-color: $dark-bg;
    border-radius: 5px;
    height: 3rem;
    width: 6rem;
    font-size: $normal-font;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    cursor: pointer;
  }

  &__back-arrow {
    font-size: 2rem;
    padding-bottom: 0.3rem;
    margin-right: 0.5rem;
  }

  &__confirm {
    margin-top: 2rem;

    &-banner {
      font-size: 3rem;
      font-family: "Barlow", sans-serif;
      font-weight: 300;
    }
  }

  &__button-wrapper-confirm {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }

  &__confirm-btn {
    margin-top: 1rem;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: italic;
    border: 1px solid white;
    color: black;
    background-color: white;
    border-radius: 5px;
    height: 3rem;
    width: 6rem;
    font-size: $normal-font;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__confirm-link {
    text-decoration: none;
  }

  &__error {
    display: block;
    text-align: center;
    margin-top: 2rem;
    font-style: italic;
  }
}
