@import "./variables";

.header {
  color: white;
  font-size: $normal-font;

  &__ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
  }

  &__li {
    text-align: center;
  }

  &__link {
    width: 49%;
    color: white;
    text-decoration: none;
    justify-content: end;
  }

  &__ul-separator {
    font-size: 1.8rem;
  }
}
