@import "./variables";

.home {
  width: 80%;
  margin: auto auto;

  color: white;

  &__greeting {
    font-size: 3rem;
    font-weight: 200;
    margin: 5rem 0;
  }

  &__question {
    font-size: $header-font;
    font-weight: 200;
    width: 80%;
  }

  &__link {
    color: white;
    text-decoration: none;
  }

  &__change-user {
    font-size: $normal-font;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
  }
}
