@import "./variables";

.user-selection {
  width: 80%;
  margin: auto auto;
  color: white;

  &__greeting {
    font-size: 3rem;
    font-weight: 200;
    margin-top: 5rem;
    margin-bottom: 0;
  }

  &__welcome {
    font-size: $header-font;
    font-weight: 200;
    width: 100%;
    margin-top: 0;
  }

  &__cta {
    font-size: $normal-font;
    font-weight: 500;
    margin-top: 4rem;
    margin-bottom: 0;
  }

  &__ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 15rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  &__link {
    color: white;
    text-decoration: none;
    width: 6rem;
    height: 2.1rem;
    display: flex;
    align-items: center;
    margin: 0.7rem 0;
  }

  &__li {
    font-size: $normal-font;
    display: inline-block;
    text-align: center;
  }

  &__add-new {
    font-size: $normal-font;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0.7rem 0;
  }
}
